<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egg.js_test</title>

</head>
<body>
    <div class="text" style="text-align:center;">
    <h1>Todolist</h1>

    <form action="/" method="POST">
        <br>
        <input type="text" autocomplete="off" name="value">
        <input type="submit" value="添加">
    </form>

    <ul>
        <% for (var i=0; i<output.length; i++) {%>
            <a href="/<%= output[i] %>">   
                <%= output[i] %> 
            </a>
            <br><br> 
        <%}%>
        </form>
        
    </ul>

    </div>
</body>
</html>
